/docker/charts/devops-course/charts/backend-0.1.0.tgz
/docker/charts/devops-course/charts/frontend-0.1.0.tgz
/docker/charts/devops-course/charts/postgresql-15.5.11.tgz
/docker/charts/devops-course/charts/redis-20.6.3.tgz
